body {
    font-family: sans-serif;
    background:#d3b508da;

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #FFD700;
    padding: 30px;
    border-radius: 8px;
    border: #000000 2px solid;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 350px;
    min-height: 430px;
    position: relative;
}

.login-container img {
    position: absolute;
    width: 410px;
    height: auto;
    margin-bottom: 0;
    border-radius: 5px;
    bottom: 0;
    left: 0;
}

input[type="submit"] {
    background-color: #000000;
    color: #FFD700;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

input[type="submit"]:hover {
    background-color: #FFD700;
    border: #000000 1px solid;
    color: #000000;
    transition: background-color 0.3s ease, color 0.3s ease;
}

h1 {
    color: #000000;
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 2px solid #FFD700;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 16px;
    color: #000000;
    background-color: #ffffff;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #000000;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    outline: none;
}

input::placeholder {
    color: #808080;
    font-style: italic;
}

p {
    color: #000000;
}

.whoa {
    width: 300px;
    height: 450px;
    position: absolute;
    bottom: 0;
    left: 10px;
}

.bottom-left  {
    position: absolute;
    bottom: 10px;
    left: 10px;
    max-width: 200px;
    height: auto;
}

.bottom-right img {
    position: absolute;
    bottom: 10px;
    right: 10px;
    max-width: 200px;
    height: auto;
}